<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >
    
    <name>Contacts</name>
    <description>Contacts</description>
    <author href="http://mypersonalwebsite.com" email="johnbrown@gmail.com">
		John Brown
	</author>

	<platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="ContactsPhoneNumbers">
                <param name="android-package" value="com.dbaq.cordova.contactsPhoneNumbers.ContactsManager"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_CONTACTS" />
        </config-file>

        <source-file src="src/android/ContactsManager.java" target-dir="src/com/dbaq/cordova/contactsPhoneNumbers" />
    </platform>
	
       

    

	<splash platform="android" qualifier="port-hdpi" src="img/splash.png" />
	<splash platform="android" qualifier="land-xhdpi" src="img/splash-land.png" />
		
	<splash src="splash.png" />
	<preference name="SplashScreenDelay" value="2000" />
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="cordova-plugin-network-information" spec="2.0.1" />
	
	<plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
	<plugin name="cordova-plugin-contacts" spec="3.0.1" />
	<plugin name="cordova-android" spec="6.3.0" />
	
	
</widget>
